<div class="{{class_name_contact_avatar}}">
    <img src="{{avatar_src}}" alt="{{contact_name}}">
</div>
<div class="{{class_name_contact_info}}">
    <div class="{{class_name_contact_header}}">
        <h3 class="{{class_name_contact_name}}">{{contact_name}}</h3>
    </div>
    <p class="{{class_name_contact_message}}">{{contact_message}}</p>
    <p class="{{class_name_contact_time}}">{{contact_time}}</p>
</div>
<div class="{{class_name_message_info}}" id="message_info">
    <span class="{{class_name_unread_badge}}">{{unread_badge}}</span>
</div>
