<div class="{{class_name__group}}">
    <label class="{{class_name__label}}" for="{{id_name}}">{{label}}</label>
    <input class="{{class_name__input}}" id="{{id_name}}" name="{{id_name}}" autocomplete="off" />
</div>
